h1 {
    font-family: "Liberation Sans", sans-serif;
}

.pink-text {
    color: hotpink;
}

#tiktok {
    background-color: darkblue;
}

a {
    font-size: 2rem;
}

a:visited  {
    font-weight: bold;
    color: hotpink;
}